Source: python3-huggingface-hub
Section: python3
Priority: optional
Maintainer: anudeep <f20212776@goa.bits-pilani.ac.in>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 python3,
 ruff,
 python3-ruff,
 python3-tqdm,
 python3-yaml,
 python3-filelock,
 mypy,
 python3-pytest,
 python3-pip,
 python3-pytest-mock,
 python3-fsspec,
 python3-jedi,
 python3-numpy,
 python3-aiohttp,
 python3-fastapi,
 python3-inquirerpy,
 python3-pillow,
Standards-Version: 4.7.2
Homepage: https://github.com/huggingface/huggingface_hub
#Vcs-Browser: https://salsa.debian.org/debian/python3-huggingface-hub
#Vcs-Git: https://salsa.debian.org/debian/python3-huggingface-hub.git

Package: python3-huggingface-hub
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Python library for HuggingFace Hub 
 The huggingface-hub library provides access to the HuggingFace Hub, 
 allowing users to download and upload models,datasets and more.
