Package: python3-huggingface-hub
Version: 0.29.3-1
Architecture: arm64
Maintainer: anudeep <anudeep@unknown>
Installed-Size: 11
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
