Package: python3-huggingface-hub
Version: 0.29.3-1
Architecture: arm64
Maintainer: anudeep <f20212776@goa.bits-pilani.ac.in>
Installed-Size: 9
Section: python3
Priority: optional
Homepage: https://github.com/huggingface/huggingface_hub
Description: Python library for HuggingFace Hub
 The huggingface-hub library provides access to the HuggingFace Hub,
 allowing users to download and upload models,datasets and more.
